<% if (result.zoneClass() == 1){ %>
<h3 class='red'>Red Zone</h3>
<h4>Shore Evacuation Zone</h4>
<p>The red zone is the shore-exclusion zone. This represents the highest risk zone and is the first place people should evacuate from in any sort of tsunami warning (both formal and informal).</p>
<% } else if (result.zoneClass() == 2){ %>
<h3 class='orange'>Orange Zone</h3>
<h4>CDEM Evacuation Zone</h4>
<p>The orange zone is the area which is likely to be evacuated during official warnings and evacuations. The official warning will come from local Civil Defense Emergency Management agencies such your local council.</p>
<% } else if (result.zoneClass() == 3){ %>
<h3 class='yellow'>Yellow Zone</h3>
<h4>Self Evacuation Zone</h4>
<p>The yellow zone identifies areas that need to evacuate for the largest possible tsunami. People should evacuate this zone in natural or informal warnings from local sources events such as a large local earthquake.</p>
<% } else { %>
<h3 class="safe">Safe Zone</h3>
<p>This point falls outside of an official evacuation zone.</p>
<% } %>
